/* Update this file with your styling rules. */

* {
	font-size: 18px;
	font-family: Helvetica;
}

body {
	/*background-color: #c0e2d7;*/
	background: url("./pkg2.png");
	/*color: #13456d;*/
	color: #072c67;
}

h1 {
	/*color: #13456d;*/
	color: #072767;
	/*color: white;*/
	padding-left: 4%;
	font-size: 36pt;
}

ul {
    list-style-type: none;
    margin-left: 4%;
    margin-right: 4%;
    padding: 0;
    overflow: hidden;
    background-color: #647A8A;
}

li {
    float: left;
    height: 49px;

}

li a {
    display: block;
    width: 150px;
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    height: 49px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;

}

#SearchBar{
	padding-left: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
}
#ChoiceOfSeason{
	padding-left: 4%;
	padding-bottom: 2%;
}
#SelectingTime{
	/*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
	background-color: white;
	height: 29px;
	width: 320px;
	padding-left: 4%;
}
#SelectingFilter{
	/*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
	background-color: white;
	height: 29px;
	width: 320px;
	padding-left: 4%;
}
#SelectingSeason{
	/*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
	background-color: white;
	height: 29px;
	width: 320px;
	padding-left: 4%;
}
#ChoiceOfTime{
	padding-left: 4%;
	padding-bottom: 2%;

}
#ChoiceOfFilter{
	padding-left: 4%;
	padding-bottom: 2%;

}
#viewContent{
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 2%;
	
}

.eating{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .5)
	url('./Pacman.gif') 50% 50% no-repeat;
}

body.loading{
	overflow: hidden;
}

body.loading .eating{
	display: block;
} 

input{
	width: 25%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	border-radius: 5px; 
	font-size: 16px;
	background-color: white;
	background-image: url('./screenshot.png'); 
	background-position: 10px 10px;
	background-repeat: no-repeat;

}
input[type=search] {
	width: 50%;
  	background-image: url('./searchIcon.png');
}
button[type=button] {
	width: 8%;
	text-align: center;

}

.row-label{
	flex-direction: row;
	display: flex;
	height: 49px;
	font-size:16px;
	height: auto;
	border-bottom: inset;
	border-color: #072c67;
	margin-bottom: 5px;
	
}
.row-label1{
	flex-direction: row;
	display: flex;
	height: 49px;
	font-size:16px;
	height: auto;
	border-bottom: inset;
	border-color: #072c67;
	margin-bottom: 5px;
	
}
.row-label2{
	flex-direction: row;
	display: flex;
	height: 49px;
	font-size:16px;
	height: auto;
	border-bottom: inset;
	border-color: #072c67;
	margin-bottom: 5px;
	
}
.WeaponData{
	flex-direction: row;
	display: flex;
	height: 49px;
	font-size:16px;
	height: auto;
	border-bottom: inset;
	border-color: #072c67;
	margin-bottom: 5px;
	
}
.AgeData{
	flex-direction: row;
	display: flex;
	height: 49px;
	font-size:16px;
	height: auto;
	border-bottom: inset;
	border-color: #072c67;
	margin-bottom: 5px;
	
}
.GenderData{
	flex-direction: row;
	display: flex;
	height: 49px;
	font-size:16px;
	height: auto;
	border-bottom: inset;
	border-color: #072c67;
	margin-bottom: 5px;
	
}
.row{
	flex-direction: row;
	display: flex;
	height: 49px;
	border-bottom: outset;
	background-color: #e9f7f9;
	margin-bottom: 5px;
	
}

.termRow{
	flex-direction: row;
	display: flex;
	height: 49px;
	border-bottom: outset;
	background-color: #c2cbcb;
	margin-bottom: 5px;
	
}

.subjectView{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
}

.titleView{
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	width: 70%;
}

.cityView{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18%;
}

.numberCrimesView{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%
}

/*.startTimeView{
	display: flex;
	align-items: center;
	width: 34%;
}

.locationView{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28%;
}*/




#AddingData{
	padding-left: 75px;
	padding-bottom: 10pxz;
	/*    padding-bottom: 10px;
    padding-left: 50px;*/
	
}



.Date{
	width: 75%;
    padding-top: 10px;

    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}